* {
    margin: 0;
}
body { 
    background-color: #333;
}
/* header */
header { 
    background-color: rgba(67, 67, 67, 90%);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
header nav { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: inter;
    padding: 10px;
}
header nav a { 
    text-decoration: none;
    color: #AEAEAE;
    font-size: 20px;
    transition: .2s;
}
header nav a:hover { 
    font-size: 21px;
}
header nav h1 { 
    color: #fff;
    font-weight: 300;
    font-size: 28px;
}
header nav .cabinet { 
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
header nav input { 
    border: none;
    background-color: #797979;
    width: 419px;
    height: 36px;
    border-radius: 10px;
    color: #fff;
}
/* podpiska */ 
.podpiska { 
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.main { 
    background-image: url(image\ 25.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1200px;
}
.podpiska h2 {
    font-family: Inter;
    font-size: 48px;
    color: #fff;
    font-weight: 400;
}
.text_second { 
    text-align: right;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.text_second a { 
    color: #979797;
    font-size: 32px;
    font-family: inter;
    text-decoration: none;
    transition: .2s;
}
.text_second a:hover { 
    color: #ebebeb;
}
.button { 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.button button { 
    padding: 20px 100px;
    border: none;
    border-radius: 10px;
    background-color: #4C4B4B;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    transition: .2s;
    cursor: pointer;
}
button:hover { 
    background-color: #EB2E2E;
    padding: 20px 110px;
}
/* footer */
footer { 
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* padding-top: 50px; */
}
footer .footer_text { 
    width: 300px;
}
.footer_text p { 
    color: #929292;
    font-family: inter;
    font-size: 24px;
    text-align: right;
}
footer h2 { 
    color: #fff;
    font-size: 32px;
    font-family: inter;
    font-weight: 400;
}
footer a { 
    color: #929292;
    font-size: 24px;
    font-family: inter;
    font-weight: 400;
    text-decoration: none;

}
footer a:hover { 
    font-size: 25px;
}
.help,
.onas { 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer_text { 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onas_img { 
    display: flex;
    gap: 20px;
}